<!-- Modal -->
<div class="modal fade" id="wallet_allert" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        Wallet Address Copied
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn-close btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>


<div class="row container-fluid justify-content-center">
	<div class="col-lg-5">
		<input id="btc_address" class="form-control" value="3FNrrgsVYwPSxSmaXJg7LGVMM9A91co9ed" type="text" placeholder="Disabled input" aria-label="" disabled>
		<div class="text-center">
			<button class="btn btn-primary mt-2" id="copy_address">Click To Copy Address</button>
		</div>
	</div></div>

	<%# <span id="btc_address" style="background-color: white; color: #858796; font-size: 17px; font-weight: 500;" class="px-4 py-3">3FNrrgsVYwPSxSmaXJg7LGVMM9A91co9ed</span> %>