
<div class="p-5 d-flex flex-column justify-content-center align-items-center" style="width: 100%;">
		<span style="background-color: white; color: #858796; font-size: 19.5px; font-weight: 600;" class="px-4 py-3">25434dfd4dd21d5d21</span>
		<button class="btn btn-primary mt-2" disabled="">Copy To Your Wallet</button>
	</div>