<div class="row justify-content-center container-fluid">
  <div class="col-lg-7">
    <% if(params.errors) {%>
          <% params.errors.map(({msg}) => { %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error</strong> <%=msg%>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <% }) %>
      <% } %>
    <form action="/admin/withdraw" class="" method="POST">
      <div class="form-floating mb-3">
      <input name="address" type="text" class="form-control form-control-lg" id="floatingInput" placeholder="Enter Bitcoin Address">
    </div>
    <div class="form-floating mb-3">
      <input name="amount" type="text" class="form-control form-control-lg" id="floatingInput" placeholder="Enter Amount">
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Withdraw Now</button>
      </div>
    </form>
  </div>
</div>