<%# Sidebar %>
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

            <%# Sidebar - Brand %>
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                </div>
                <div class="sidebar-brand-text mx-3">BINTREST TRADE</div>
            </a>

            <%# Divider %>
            <hr class="sidebar-divider my-0">

            <%# Nav Item - Dashboard %>
            <li class="nav-item active">
                <a class="nav-link" href="/admin">
                    <!-- <i class="fas fa-fw fa-tachometer-alt"></i> -->
                    <i data-feather="clipboard" style="color: dodgerblue;"></i>

                    <span>Dashboard</span></a>
            </li>

            <%# Divider %>
            <hr class="sidebar-divider">

            <%# Heading %>
            <div class="sidebar-heading">
                Actions
            </div>

            <!-- Nav Item - Tables -->
            <li class="nav-item active">
                <a class="nav-link" href="/admin/deposit">
                    <span>Deposit</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item active">
                <a class="nav-link" href="/admin/withdraw">
                    <span>Withdraw</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/admin/notifications">
                    <span>Notifications</span></a>
            </li>

            <% if(params.user.role == "admin") { %>
                <hr class="sidebar-divider">

            <%# Heading %>
            <div class="sidebar-heading">
                Admin
            </div>

            <!-- Nav Item - Tables -->
            <li class="nav-item active">
                <a class="nav-link" href="/admin/users">
                    <span>Users</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item active">
                <a class="nav-link" href="/admin/update">
                    <span>Update</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/admin/sendNotification">
                    <span>Send Notification</span></a>
            </li>

            <% } %>

            <%# Divider %>
            <hr class="sidebar-divider d-none d-md-block">

            <%# Sidebar Toggler (Sidebar) %>
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <%# End of Sidebar %>