<div id="hero">
  <div class="hero-container">
        <h1>BINTREST CRYPTO TRADE</h1>
        <h2><%=siteData.description%></h2>
        <a href="/signup" class="btn-get-started scrollto">Get Started</a>
      </div>
</div>