<div style="background: url(<%=siteData.banner.bg_image%>) top center; background-position: center;
  background-repeat: no-repeat;
  background-size: cover; : 100%;
  height: calc(100vh - 110px);" class="text-secondary mx-auto py-5 d-flex flex-column justify-content-center align-items-center items-left">
    <div class="py-5 container" data-aos="fade-up"
          data-aos-delay="500">
      <h1 class="display-5 fw-bold text-white">World's leading social trading platform</h1>
      <div class="col-lg-6">
        <p class="mb-2 text-white fs-6">Join millions who've already discovered smarter investing in multiple types of assets. Choose an investment plan to start with.</p>
        <p class="fs-6 mb-4 text-white"><%=siteData.description%></p>
        <a href="/signup" class="btn btn-outline-info btn-lg px-4">Get Started</a>
      </div>
    </div>
  </div>